<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      OuterHeaven Productions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1 id="title">Bienvenido a Producciones OuterHeaven!</h1>
    <p id="subtitle">En esta aplicación podrás encontrar información sobre los eventos que realizamos, así como también podrás comprar tus entradas para los mismos.</p>
    <h2>Compra de Tickets</h2>
    <br>
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" labelPlacement="stacked" [(ngModel)]="name" placeholder="Ingresa tu Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Apellido" labelPlacement="stacked" [(ngModel)]="lastName" placeholder="Ingresa tu Apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Correo Electrónico" labelPlacement="stacked" [(ngModel)]="email" placeholder="Ingresa tu Correo Electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Fecha Nacimiento" labelPlacement="stacked" [value]="formattedBirthday" readonly placeholder="Ingrese su Fecha de Nacimiento"></ion-input>
        <ion-button fill="clear" id="open-datetime">
            <ion-icon size="large" slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="open-datetime" triggerAction="click">
            <ng-template>
                <ion-datetime [(ngModel)]="birthday" (ionChange)="onDateChange($event)" locale="es-ES" presentation="date" [showDefaultButtons]="true">
                </ion-datetime>
            </ng-template>
        </ion-popover>
      </ion-item>
      <ion-item>
        <ion-select label="Tipo de Eventos" labelPlacement="stacked" [(ngModel)]="eventType" (ionChange)="onEventTypeChange()" placeholder="Seleccione un tipo de evento">
          <ion-select-option value="concert">Conciertos</ion-select-option>
          <ion-select-option value="theatre">Teatro</ion-select-option>
          <ion-select-option value="sports">Deportes</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Eventos" labelPlacement="stacked" [(ngModel)]="selectedEvent" (ionChange)="onEventChange()" [disabled]="isEventsDisabled" placeholder="Seleccione un evento">
          <ion-select-option *ngFor="let event of events" [value]="event.name">{{event.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br>
    <ion-button expand="block" (click)="openModal()" [disabled]="!isFormComplete()">
      Proceder a Pagar
    </ion-button>
    <br>
    
    <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Detalle del Ticket</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div id="ticketDetail">
            <h2>Detalles del Ticket</h2>
            <p><strong>Nombre:</strong> {{ name }} {{ lastName }}</p>
            <p><strong>Correo Electrónico:</strong> {{ email }}</p>
            <p><strong>Evento:</strong> {{ selectedEvent }}</p>
            <p><strong>Precio del Ticket:</strong> {{ ticketPrice }} CLP</p>
            <p><strong>Descuento:</strong> {{ discount * 100 }}%</p>
            <p><strong>Total a Pagar:</strong> {{ total }} CLP</p><br>
            <ion-button color="success" expand="block"(click)="onBuy()"> Confirmar compra</ion-button><br>
            <ion-button color="danger" expand="block" (click)="onClear()"> Cancelar compra</ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
